body{
  background-color:#ADE4DB;
  }

  hr{
    border-style:none;
    border-top-style:dotted;
    border-color: blue;
    border-width: 5px;
    width: 5%

  }

  h1{
    background-color: inherit;
    color: blue;
  }

  h3{
    color: #66BFBF;
  }
